<h1>My lists</h1>
<ul><% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list) %></p>
    <p><%= link_to "Update a movie list", edit_list_path(list) %>
        <%= link_to "Delete a movie list", list_path(list), method: :delete %></p>
    <% end %>
</ul>

<p> <%= link_to "Create a movie list", new_list_path %> </p>